<div class="col" style="width: 434px;" >
  <div class="row">
  <div class="d-flex justify-content-between align-items-center p-0 ">
  <span class="chart-h" >Calculation Method : Cloud 3D</span>
  <div class="chart-btn">
    <!-- <button (click)="expandColumn(1)"> -->
      <button >
      <img src="../../../assets/images/expand.svg" alt="expand">
    </button>
    <!-- <button (click)="closeColumn(1)" *ngIf="visibleItemsCount > 1"> -->
      <button >
      <img src="../../../assets/images/close.svg" alt="close">
    </button>
  </div>
</div>
<div class="row" >
  <canvas #canvas2 class="dechart1" ></canvas>
</div>
</div>

</div>


