<div  class="row d-flex justify-content-start ">


<div class="col lg-2"><app-casing-renderer></app-casing-renderer></div>
<div class="row d-flex justify-content-start ">
<div style="max-width: 50px;padding: 0;background: #022132; height:calc(100% - 25px);margin-left: 70px;"><app-depth></app-depth></div>
<div class="col"><app-fluid-renderer></app-fluid-renderer></div>
<div class="col">
  <div class="row"><app-base-fluid-renderer></app-base-fluid-renderer></div>
  <div class="row"><app-angle-fluid-renderer></app-angle-fluid-renderer></div>
</div>
<div class="col"><app-unrolled-view-renderer></app-unrolled-view-renderer></div>
<div class="col"><app-overlay-renderer></app-overlay-renderer></div>
</div>
</div>
