
            <div class="row chart-tool flex-nowrap">
              <div class="col-1 select-col" style="margin-left: 30px;margin-right: 20px;">
                <div class="ps-1 w-100 mt-3">
                  <select class="Case_Main_Select">
                    <option class="case_option" value="">Select Case...</option>
                    <!-- <option class="case_option" *ngFor="let item of cases">{{item.caseName}}</option> -->
                    <!-- <option label="--select something --"  style="color: black ;"></option>
                    <option value="RTV" style="color: black ;">RTV</option>
                    <option value="WebGl"  style="color: black ;">WebGl</option>
                    <option value="OpenGl"  style="color: black ;">OpenGl</option> -->
                  </select>
                </div>
              </div>
              <div class="col-auto px-0">
                <div class="red-line"></div>
              </div>

      <div class="col-auto d-inline-flex">
        <div class="d-inline-block  text-center" style="margin-right: 20px;">
          <label class="tool-title">Display Part</label>
          <label class="d-inline-block text-white"><mat-checkbox class="check-box"></mat-checkbox> Annulus</label>
          <label class="d-inline-block text-white"><mat-checkbox class="check-box"></mat-checkbox> Pipe</label>
        </div>
        <div class="col-auto px-0">
          <div class="red-line"></div>
        </div>
    </div>
      </div>
  